.image {
  object-fit: cover;
  width: auto;
  height: auto;
  aspect-ratio: 3 / 4;
  max-width: 100%;
}

.image--rounded {
  border-radius: var(--radius);
}

.image--with-zoom-effect {
}

.image--with-zoom-effect:hover {
  transform: scaleX(1.05) scaleY(1.05);
}
