.menu__item {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 8px;
}

@media screen and (max-width: 1920px) { 
    .menu__item {
        height: 34px;
        padding: 4px;;
    }
}