.textbox {
  font-weight: 600;
  padding: 8px 16px;
}

.textbox__label {
  display: block;
}

.textbox__input {
  padding: 4px 8px;
  margin-left: 4px;
  margin-top: 4px;
  font-weight: 600;
  width: 100%;
}