.grid__item {
    grid-column: auto;
}

.grid__item--span-2 {
    grid-column: span 2;
}

.grid__item--span-3 {
    grid-column: span 3;
}

.grid__item--span-6 {
    grid-column: span 6;
}

.grid__item--span-10 {
    grid-column: span 10;
}

.grid__item--span-12 {
    grid-column: span 12;
}

.grid__item--padding-default {
  padding: var(--default-padding);
}

.grid__item--padding-double {
  padding:  calc(var(--default-padding)*2);
}

.grid__item--padding-h-default {
  padding-left: 20px;
  padding-right: 20px;
}