.alertable {
  position: relative;
}

.alertable__alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--background));
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertable__alert--collapsed {
  visibility: collapse;
}