.image-or-placeholder {
  overflow: hidden;
  border-radius: var(--radius);
}

.image-or-placeholder__image {
  height: 100%;
}

.image-or-placeholder__placeholder {
  background: var(--placeholder);
  height: 100%;
  width: 100%;
}
