.input {
  --ring-offset-color: hsl(var(--background));

  background-color: hsl(var(--background));
  border-color: hsl(var(--input));
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  display: flex;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
}
